
			<h1>Contactenos</h1><br>			
			<p  align="justify">
			  
				<strong> Dirección </strong> <br><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calle General Pando (Av. Ernesto Céspedes y Calle Beni)<br><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quillacollo<br><br>

				<strong> Horarios de Atención </strong> <br><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lun-Vie: 12:00-14:00<br><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sáb-Dom: 12:00-20:00<br><br>

				<strong> Teléfono </strong> <br><br>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(591)(4) 4260296<br><br>
			</p>