<footer class="panel-footer navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h4>Siguenos:</h4>
        <a href="https://www.facebook.com/elfogondemaria?fref=ts"><img src="/images/facebook.png" width="20" /></a>
      </div>    
      <div class="col-xs-6">
        <div align="right">
          <%= link_to " Contactenos ", 'contact' %> </li>
        </div>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <center>Taller de Sistemas de Informacion - © 2014</center>
      </div>
    </div>
  </div>
</footer>